{
  "swagger": "2.0",
  "info": {
    "description": "ops-activity相关Api",
    "version": "v1",
    "title": "ops-activity Api",
    "contact": {},
    "license": {}
  },
  "host": "broqiye.ops-activity.51.env",
  "basePath": "/",
  "tags": [
    {
      "name": "ops-activity-bind-wei-xin-send-prize-controller",
      "description": "Ops Activity Bind Wei Xin Send Prize Controller"
    },
    {
      "name": "template-executor-controller",
      "description": "Template Executor Controller"
    },
    {
      "name": "ops-activity-payday-controller",
      "description": "Ops Activity Payday Controller"
    },
    {
      "name": "ops-activity-sample-controller",
      "description": "Ops Activity Sample Controller"
    },
    {
      "name": "template-custom-rule-controller",
      "description": "Template Custom Rule Controller"
    },
    {
      "name": "template-activity-controller",
      "description": "Template Activity Controller"
    },
    {
      "name": "ops-activity-reservations-controller",
      "description": "Ops Activity Reservations Controller"
    },
    {
      "name": "ops-activity-grab-allowance-controller",
      "description": "Ops Activity Grab Allowance Controller"
    },
    {
      "name": "ops-activity-sign-task-controller",
      "description": "Ops Activity Sign Task Controller"
    },
    {
      "name": "ops-activity-jumbo-loan-controller",
      "description": "Ops Activity Jumbo Loan Controller"
    },
    {
      "name": "ops-manual-fix-controller",
      "description": "Ops Manual Fix Controller"
    },
    {
      "name": "template-controller",
      "description": "Template Controller"
    },
    {
      "name": "template-common-config-controller",
      "description": "Template Common Config Controller"
    },
    {
      "name": "ops-activity-custom-rule-external-controller",
      "description": "Ops Activity Custom Rule External Controller"
    },
    {
      "name": "ops-banka-controller",
      "description": "Ops Banka Controller"
    },
    {
      "name": "feed-controller",
      "description": "Feed Controller"
    },
    {
      "name": "ops-activity-new-user-peculiar-controller",
      "description": "Ops Activity New User Peculiar Controller"
    },
    {
      "name": "ops-activity-test-controller",
      "description": "Ops Activity Test Controller"
    },
    {
      "name": "ops-activity-time-strategy-controller",
      "description": "Ops Activity Time Strategy Controller"
    },
    {
      "name": "ops-activity-business-loan-controller",
      "description": "Ops Activity Business Loan Controller"
    },
    {
      "name": "ops-activity-task-controller",
      "description": "Ops Activity Task Controller"
    },
    {
      "name": "diamond-sign-controller",
      "description": "Diamond Sign Controller"
    },
    {
      "name": "ops-activity-sign-task-controller-v-3",
      "description": "Ops Activity Sign Task Controller V 3"
    },
    {
      "name": "ops-gjb-fund-controller",
      "description": "Ops Gjb Fund Controller"
    },
    {
      "name": "ops-corp-channel-controller",
      "description": "Ops Corp Channel Controller"
    },
    {
      "name": "template-users-controller",
      "description": "Template Users Controller"
    },
    {
      "name": "ops-activity-lmk-task-prize-controller",
      "description": "Ops Activity Lmk Task Prize Controller"
    },
    {
      "name": "ops-activity-mall-controller",
      "description": "Ops Activity Mall Controller"
    },
    {
      "name": "ops-activity-slot-machine-controller",
      "description": "Ops Activity Slot Machine Controller"
    },
    {
      "name": "ops-activity-prioritory-members-controller",
      "description": "Ops Activity Prioritory Members Controller"
    },
    {
      "name": "ops-activity-qixi-ccb-controller",
      "description": "Ops Activity Qixi Ccb Controller"
    },
    {
      "name": "ops-activity-financial-group-controller",
      "description": "Ops Activity Financial Group Controller"
    },
    {
      "name": "ops-activity-ten-minute-loan-controller",
      "description": "Ops Activity Ten Minute Loan Controller"
    },
    {
      "name": "ops-activity-vip-activity-controller",
      "description": "Ops Activity Vip Activity Controller"
    },
    {
      "name": "rpb-article-controller",
      "description": "Rpb Article Controller"
    },
    {
      "name": "ops-period-bill-controller",
      "description": "Ops Period Bill Controller"
    },
    {
      "name": "ops-activity-template-controller",
      "description": "Ops Activity Template Controller"
    },
    {
      "name": "ops-activity-fools-day-controller",
      "description": "Ops Activity Fools Day Controller"
    },
    {
      "name": "ops-activity-register-controller",
      "description": "Ops Activity Register Controller"
    },
    {
      "name": "ops-activity-dream-partner-controller",
      "description": "Ops Activity Dream Partner Controller"
    },
    {
      "name": "ops-fish-task-controller",
      "description": "Ops Fish Task Controller"
    },
    {
      "name": "financial-group-config-controller",
      "description": "Financial Group Config Controller"
    },
    {
      "name": "ops-activity-common-controller",
      "description": "Ops Activity Common Controller"
    },
    {
      "name": "ops-comp-controller",
      "description": "Ops Comp Controller"
    },
    {
      "name": "ops-activity-installment-controller",
      "description": "Ops Activity Installment Controller"
    },
    {
      "name": "ops-activity-jky-collage-controller",
      "description": "Ops Activity Jky Collage Controller"
    },
    {
      "name": "ops-activity-new-user-guide-controller",
      "description": "Ops Activity New User Guide Controller"
    },
    {
      "name": "ops-activity-cgb-credit-day-controller",
      "description": "Ops Activity Cgb Credit Day Controller"
    },
    {
      "name": "ops-activity-lmk-qy-controller",
      "description": "Ops Activity Lmk Qy Controller"
    },
    {
      "name": "template-comp-rule-action-controller",
      "description": "Template Comp Rule Action Controller"
    },
    {
      "name": "ops-activity-new-user-for-jky-controller",
      "description": "Ops Activity New User For JKY Controller"
    },
    {
      "name": "ops-biz-core-controller",
      "description": "Ops Biz Core Controller"
    },
    {
      "name": "ops-activity-financing-friend-help-controller",
      "description": "Ops Activity Financing Friend Help Controller"
    },
    {
      "name": "ops-activity-group-tag-controller",
      "description": "Ops Activity Group Tag Controller"
    },
    {
      "name": "ops-activity-lottery-controller",
      "description": "Ops Activity Lottery Controller"
    },
    {
      "name": "ops-activity-we-chat-signal-controller",
      "description": "Ops Activity We Chat Signal Controller"
    },
    {
      "name": "ops-activity-graduate-controller",
      "description": "Ops Activity Graduate Controller"
    },
    {
      "name": "test-personality-controller",
      "description": "Test Personality Controller"
    },
    {
      "name": "ops-channel-register-controller",
      "description": "Ops Channel Register Controller"
    },
    {
      "name": "ops-activity-store-calendar-controller",
      "description": "Ops Activity Store Calendar Controller"
    },
    {
      "name": "activity-phone-charge-status-controller",
      "description": "Activity Phone Charge Status Controller"
    },
    {
      "name": "ops-activity-lmk-invite-controller",
      "description": "Ops Activity Lmk Invite Controller"
    },
    {
      "name": "ops-activity-sign-task-controller-v-2",
      "description": "Ops Activity Sign Task Controller V 2"
    },
    {
      "name": "ops-register-template-controller",
      "description": "Ops Register Template Controller"
    },
    {
      "name": "ops-activity-bill-summary-controller",
      "description": "Ops Activity Bill Summary Controller"
    },
    {
      "name": "ops-financial-exclusive-mark-controller",
      "description": "Ops Financial Exclusive Mark Controller"
    },
    {
      "name": "template-config-group-controller",
      "description": "Template Config Group Controller"
    },
    {
      "name": "ops-activity-lmk-iqiyi-controller",
      "description": "Ops Activity Lmk Iqiyi Controller"
    },
    {
      "name": "ops-biz-template-controller",
      "description": "Ops Biz Template Controller"
    },
    {
      "name": "ops-activity-luban-controller",
      "description": "Ops Activity Luban Controller"
    },
    {
      "name": "ops-activity-comp-rule-controller",
      "description": "Ops Activity Comp Rule Controller"
    },
    {
      "name": "ops-activity-free-list-controller",
      "description": "Ops Activity Free List Controller"
    },
    {
      "name": "ops-activity-popularity-king-controller",
      "description": "Ops Activity Popularity King Controller"
    },
    {
      "name": "ops-activity-jd-invite-conroller",
      "description": "Ops Activity JD Invite Conroller"
    },
    {
      "name": "ops-activity-sesame-auth-controller",
      "description": "Ops Activity Sesame Auth Controller"
    },
    {
      "name": "ops-activity-lmk-transfer-qx-controller",
      "description": "Ops Activity Lmk Transfer Qx Controller"
    },
    {
      "name": "ops-daily-activity-set-controller",
      "description": "Ops Daily Activity Set Controller"
    },
    {
      "name": "template-custom-group-controller",
      "description": "Template Custom Group Controller"
    },
    {
      "name": "ops-super-credit-day-wz-controller",
      "description": "Ops Super Credit Day WZ Controller"
    },
    {
      "name": "invest-get-payment-controller",
      "description": "Invest Get Payment Controller"
    },
    {
      "name": "bro-qi-ye-controller",
      "description": "Bro Qi Ye Controller"
    },
    {
      "name": "ops-activity-common-config-controller",
      "description": "Ops Activity Common Config Controller"
    },
    {
      "name": "ops-activity-bonus-double-controller",
      "description": "Ops Activity Bonus Double Controller"
    },
    {
      "name": "ops-activity-template-controller-v-2",
      "description": "Ops Activity Template Controller V 2"
    },
    {
      "name": "comp-rule-action-controller",
      "description": "Comp Rule Action Controller"
    },
    {
      "name": "ops-invest-package-template-controller",
      "description": "Ops Invest Package Template Controller"
    },
    {
      "name": "ops-activity-crowd-controller",
      "description": "Ops Activity Crowd Controller"
    },
    {
      "name": "ops-activity-financial-newer-controller",
      "description": "Ops Activity Financial Newer Controller"
    },
    {
      "name": "ops-activity-jky-offline-controller",
      "description": "Ops Activity Jky Offline Controller"
    },
    {
      "name": "ops-activity-financial-countmoney-controller",
      "description": "Ops Activity Financial Countmoney Controller"
    },
    {
      "name": "ops-invest-controller",
      "description": "Ops Invest Controller"
    },
    {
      "name": "ops-activity-we-chat-attention-controller",
      "description": "Ops Activity We Chat Attention Controller"
    },
    {
      "name": "ops-activity-fenqi-controller",
      "description": "Ops Activity Fenqi Controller"
    },
    {
      "name": "ops-activity-lucky-bag-controller",
      "description": "Ops Activity Lucky Bag Controller"
    },
    {
      "name": "ops-manager-flopcard-controller",
      "description": "Ops Manager Flopcard Controller"
    },
    {
      "name": "ops-activity-new-user-area-controller",
      "description": "Ops Activity New User Area Controller"
    },
    {
      "name": "ops-activity-custom-rule-controller",
      "description": "Ops Activity Custom Rule Controller"
    },
    {
      "name": "ops-activity-lottery-manager-controller",
      "description": "Ops Activity Lottery Manager Controller"
    },
    {
      "name": "ops-activity-world-cup-choice-controller",
      "description": "Ops Activity World Cup Choice Controller"
    },
    {
      "name": "ops-invest-template-controller",
      "description": "Ops Invest Template Controller"
    },
    {
      "name": "ops-activity-lmk-interest-controller",
      "description": "Ops Activity Lmk Interest Controller"
    },
    {
      "name": "ops-activity-controller",
      "description": "Ops Activity Controller"
    },
    {
      "name": "ops-activity-common-config-external-controller",
      "description": "Ops Activity Common Config External Controller"
    },
    {
      "name": "activity-pull-off-line-new-user-controller",
      "description": "Activity Pull Off Line New User Controller"
    },
    {
      "name": "template-listener-controller",
      "description": "Template Listener Controller"
    },
    {
      "name": "ops-surprise-day-controller",
      "description": "Ops Surprise Day Controller"
    },
    {
      "name": "template-entry-url-controller",
      "description": "Template Entry URL Controller"
    }
  ],
  "paths": {
    "/ops-activity/api/jky/offline/index": {
      "post": {
        "tags": [
          "ops-activity-jky-offline-controller"
        ],
        "summary": "活动首页",
        "operationId": "indexUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityCode",
            "in": "query",
            "description": "activityCode",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "activityOfflineVO",
            "description": "activityOfflineVO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityOfflineVO"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/addopportunity": {
      "get": {
        "tags": [
          "ops-activity-controller"
        ],
        "summary": "增加用户参与活动机会.",
        "operationId": "addActivityOpportunityUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityCode",
            "in": "query",
            "description": "activityCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "opportunity",
            "in": "query",
            "description": "opportunity",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "service token",
            "required": true,
            "type": "string",
            "default": "service 123"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/addopps": {
      "get": {
        "tags": [
          "ops-activity-controller"
        ],
        "summary": "批量增加用户参与活动机会.",
        "operationId": "batchAddOpportunitysUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityCode",
            "in": "query",
            "description": "activityCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "startUserId",
            "in": "query",
            "description": "startUserId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "endUserId",
            "in": "query",
            "description": "endUserId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "opportunity",
            "in": "query",
            "description": "opportunity",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "service token",
            "required": true,
            "type": "string",
            "default": "service 123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/assignTask": {
      "post": {
        "tags": [
          "ops-activity-controller"
        ],
        "summary": "获取福利日分配任务列表.",
        "operationId": "assignTaskUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityCode",
            "in": "query",
            "description": "activityCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserTaskResponse"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/bill/summary": {
      "get": {
        "tags": [
          "ops-activity-controller"
        ],
        "summary": "账单分析数据汇总",
        "operationId": "billSummaryUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«BillSummary»"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/billSummary/getBillSummary": {
      "get": {
        "tags": [
          "ops-activity-bill-summary-controller"
        ],
        "summary": "获取月度账单汇总信息",
        "operationId": "getBillSummaryUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«BillSummaryData»"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/billSummary/getInvitePage": {
      "get": {
        "tags": [
          "ops-activity-bill-summary-controller"
        ],
        "summary": "获取邀请页面信息",
        "operationId": "getInvitePageUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "inviterUserId",
            "in": "query",
            "description": "inviterUserId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "inApp",
            "in": "query",
            "description": "inApp",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«InviteChopPageData»"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/billSummary/getOuterInviteUserInfo": {
      "get": {
        "tags": [
          "ops-activity-bill-summary-controller"
        ],
        "summary": "获取壳外未登录用户概要信息",
        "operationId": "getOuterInviteUserInfoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "inviterUserId",
            "in": "query",
            "description": "inviterUserId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«InviteChopPageData»"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/billSummary/postChopping": {
      "post": {
        "tags": [
          "ops-activity-bill-summary-controller"
        ],
        "summary": "提交砍单信息",
        "operationId": "postChoppingUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "inviterUserId",
            "in": "query",
            "description": "inviterUserId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«string»"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/billSummary/postSettle": {
      "post": {
        "tags": [
          "ops-activity-bill-summary-controller"
        ],
        "summary": "提交结算",
        "operationId": "postSettleUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«SettleResult»"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/billSummary/postSummaryId": {
      "post": {
        "tags": [
          "ops-activity-bill-summary-controller"
        ],
        "summary": "提交mock账单汇总信息",
        "operationId": "postSummaryIdUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "summaryId",
            "in": "query",
            "description": "summaryId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/bindweixin/sendPrize": {
      "get": {
        "tags": [
          "ops-activity-bind-wei-xin-send-prize-controller"
        ],
        "summary": "发奖接口",
        "operationId": "getMainPageInfoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityCode",
            "in": "query",
            "description": "activityCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/briefPrizeRecord": {
      "get": {
        "tags": [
          "ops-activity-controller"
        ],
        "summary": "获取简略的奖品纪录信息",
        "operationId": "briefPrizeRecordUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "count",
            "required": false,
            "type": "integer",
            "default": 10,
            "format": "int32"
          },
          {
            "name": "activityCode",
            "in": "query",
            "description": "activityCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BriefPrizeRecord"
              }
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/broqiye/main": {
      "get": {
        "tags": [
          "bro-qi-ye-controller"
        ],
        "summary": "活动主页面.",
        "operationId": "mainPageUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "query",
            "description": "channel",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«51兄弟连活动首页»"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/businessLoan/getActivityInfo": {
      "post": {
        "tags": [
          "ops-activity-business-loan-controller"
        ],
        "summary": "获取活动主页接口",
        "operationId": "getActivityInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«经营贷活动主页信息»"
            }
          },
          "401": {
            "description": "请求未通过认证",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/businessLoan/getNowPrizeUserPhone": {
      "get": {
        "tags": [
          "ops-activity-business-loan-controller"
        ],
        "summary": "获取当前中奖用户",
        "operationId": "getNowPrizeUserPhoneUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO"
            }
          },
          "401": {
            "description": "请求未通过认证",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/businessLoan/getPrizeUserList": {
      "get": {
        "tags": [
          "ops-activity-business-loan-controller"
        ],
        "summary": "获取中奖用户轮播信息",
        "operationId": "getPrizeUserListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "count",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«List«string»»"
            }
          },
          "401": {
            "description": "请求未通过认证",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/businessLoan/joinActivity": {
      "post": {
        "tags": [
          "ops-activity-business-loan-controller"
        ],
        "summary": "点击参与优惠",
        "operationId": "joinActivityUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO"
            }
          },
          "401": {
            "description": "请求未通过认证",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/businessLoan/startUploadLincense": {
      "post": {
        "tags": [
          "ops-activity-business-loan-controller"
        ],
        "summary": "点击上传资料",
        "operationId": "startUploadLincenseUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO"
            }
          },
          "401": {
            "description": "请求未通过认证",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/calendar/calendar/info": {
      "get": {
        "tags": [
          "ops-activity-store-calendar-controller"
        ],
        "summary": "获取页面信息",
        "operationId": "calendarInfoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityCode",
            "in": "query",
            "description": "activityCode",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«页面展示信息»"
            }
          },
          "401": {
            "description": "请求未通过认证",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/calendar/fresh": {
      "get": {
        "tags": [
          "ops-activity-store-calendar-controller"
        ],
        "summary": "获取最近的商家黄历信息",
        "operationId": "getUserLastCalendarUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityCode",
            "in": "query",
            "description": "activityCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«商家黄历记录»"
            }
          },
          "401": {
            "description": "请求未通过认证",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/calendar/generate": {
      "post": {
        "tags": [
          "ops-activity-store-calendar-controller"
        ],
        "summary": "生成商家黄历",
        "operationId": "generateCalendarUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityCode",
            "in": "query",
            "description": "activityCode",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "activityStoreInfo",
            "description": "activityStoreInfo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/商家黄历记录"
            }
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO"
            }
          },
          "401": {
            "description": "请求未通过认证",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/calendar/prize": {
      "post": {
        "tags": [
          "ops-activity-store-calendar-controller"
        ],
        "summary": "发奖",
        "operationId": "generateCalendarUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityCode",
            "in": "query",
            "description": "activityCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«ActivityPrizeRecord»"
            }
          },
          "401": {
            "description": "请求未通过认证",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/calendar/sensitive": {
      "get": {
        "tags": [
          "ops-activity-store-calendar-controller"
        ],
        "summary": "敏感词过滤",
        "operationId": "filterSensitiveWordUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityCode",
            "in": "query",
            "description": "activityCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "text",
            "in": "query",
            "description": "text",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO"
            }
          },
          "401": {
            "description": "请求未通过认证",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/channel/fanli/addlog": {
      "get": {
        "tags": [
          "ops-corp-channel-controller"
        ],
        "summary": "添加返利网用户渠道日志记录",
        "operationId": "addFanLiChannelLogUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dto",
            "description": "dto",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FanLiChannelDto"
            }
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "ops-corp-channel-controller"
        ],
        "summary": "添加返利网用户渠道日志记录",
        "operationId": "addFanLiChannelLogUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dto",
            "description": "dto",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FanLiChannelDto"
            }
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/channel/fanli/fix": {
      "get": {
        "tags": [
          "ops-corp-channel-controller"
        ],
        "summary": "修复历史返利网来源数据",
        "operationId": "fixHistoryDataUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "startId",
            "in": "query",
            "description": "startId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "endId",
            "in": "query",
            "description": "endId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isForce",
            "in": "query",
            "description": "isForce",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/channel/fanli/order/query": {
      "get": {
        "tags": [
          "ops-corp-channel-controller"
        ],
        "summary": "订单查询接口",
        "operationId": "queryFanLiChannelOrderUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "channel_id",
            "in": "query",
            "description": "返利网标识, 预留32位",
            "required": false,
            "type": "string"
          },
          {
            "name": "begin_date",
            "in": "query",
            "description": "订单查询开始时间点，精确到秒；",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "订单查询结束时间点，精确到秒；",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "orderid",
            "in": "query",
            "description": "订单号（支持指定订单号查询）",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "指定订单状态查询；（支持status查询）",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sn",
            "in": "query",
            "description": "验证的签名",
            "required": false,
            "type": "string"
          },
          {
            "name": "curPage",
            "in": "query",
            "description": "当前页",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "页面大小",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FanLiResultDto"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/common/config/frontpage/query": {
      "get": {
        "tags": [
          "ops-activity-common-config-external-controller"
        ],
        "summary": "根据名字获取页面素材配置",
        "operationId": "getConfigByNameUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "key",
            "in": "query",
            "description": "key",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«JSONObject»"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/common/timestrategy/activetime/countdown": {
      "post": {
        "tags": [
          "ops-activity-time-strategy-controller"
        ],
        "summary": "活动持续时间.",
        "operationId": "activetimeountdownUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityCode",
            "in": "query",
            "description": "activityCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "query",
            "description": "priority",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "timeUnit",
            "in": "query",
            "description": "timeUnit",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«TimeStrategyCountDown»"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/common/timestrategy/delete": {
      "post": {
        "tags": [
          "ops-activity-time-strategy-controller"
        ],
        "summary": "删除时间策略",
        "operationId": "deleteTimestrategyUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«boolean»"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/common/timestrategy/isactive": {
      "post": {
        "tags": [
          "ops-activity-time-strategy-controller"
        ],
        "summary": "活动是否开启.",
        "operationId": "isActiveUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityCode",
            "in": "query",
            "description": "activityCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "query",
            "description": "priority",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«boolean»"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/common/timestrategy/param/delete": {
      "post": {
        "tags": [
          "ops-activity-time-strategy-controller"
        ],
        "summary": "删除时间策略参数",
        "operationId": "deleteTimestrategyParamUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«boolean»"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/common/timestrategy/param/save/update": {
      "post": {
        "tags": [
          "ops-activity-time-strategy-controller"
        ],
        "summary": "增加或者修改时间策略参数",
        "operationId": "saveOrUpdateTimestrategyParamUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "activityTimeStrategyParam",
            "description": "activityTimeStrategyParam",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityTimeStrategyParam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«boolean»"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/common/timestrategy/save/update": {
      "post": {
        "tags": [
          "ops-activity-time-strategy-controller"
        ],
        "summary": "增加或者修改时间策略",
        "operationId": "saveOrUpdateTimestrategyUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "activityTimeStrategy",
            "description": "activityTimeStrategy",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityTimeStrategy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«boolean»"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/common/timestrategy/starttime/countdown": {
      "post": {
        "tags": [
          "ops-activity-time-strategy-controller"
        ],
        "summary": "下一场活动倒计时.",
        "operationId": "startTimeountdownUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityCode",
            "in": "query",
            "description": "activityCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "query",
            "description": "priority",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "timeUnit",
            "in": "query",
            "description": "timeUnit",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«TimeStrategyCountDown»"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/custom/rule/user/query": {
      "get": {
        "tags": [
          "ops-activity-custom-rule-external-controller"
        ],
        "summary": "根据UserId获取页面规则",
        "operationId": "userQueryUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "key",
            "in": "query",
            "description": "key",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«JSONObject»"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/deposit/briefDepositRecord": {
      "get": {
        "tags": [
          "ops-daily-activity-set-controller"
        ],
        "summary": "获取简略的人品定期纪录信息",
        "operationId": "briefDepositRecordUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "count",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int32"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/上线活动滚动条显示"
              }
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/deposit/myrank": {
      "get": {
        "tags": [
          "ops-daily-activity-set-controller"
        ],
        "summary": "获取在人品定期投资中的排名",
        "operationId": "getMyDepositRankUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/上线活动"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/doTask": {
      "post": {
        "tags": [
          "ops-activity-controller"
        ],
        "summary": "用户完成任务.",
        "operationId": "doTaskUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityCode",
            "in": "query",
            "description": "activityCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskName",
            "in": "query",
            "description": "taskName",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/dream/partner/dreamInfo": {
      "get": {
        "tags": [
          "ops-activity-dream-partner-controller"
        ],
        "summary": "【人品贷-梦想合伙人】梦想页接口",
        "operationId": "dreamInfoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "search",
            "in": "query",
            "description": "search",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«PageInfo«List«梦想合伙人 -首页信息»»»"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/dream/partner/dreamRank": {
      "get": {
        "tags": [
          "ops-activity-dream-partner-controller"
        ],
        "summary": "【人品贷-梦想合伙人】 梦想榜接口",
        "operationId": "dreamRankUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "type",
            "in": "query",
            "description": "type",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«梦想合伙人 -报名DTO»"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/dream/partner/getDreamById": {
      "get": {
        "tags": [
          "ops-activity-dream-partner-controller"
        ],
        "summary": "【人品贷-梦想合伙人】根据梦想ID查询梦想内容",
        "operationId": "getDreamByIdUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "dreamId",
            "in": "query",
            "description": "dreamId",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«梦想合伙人 -首页信息»"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/dream/partner/index": {
      "get": {
        "tags": [
          "ops-activity-dream-partner-controller"
        ],
        "summary": "【人品贷-梦想合伙人】首页信息",
        "operationId": "indexUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO«梦想合伙人 -首页信息»"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/dream/partner/innerHasSupport": {
      "get": {
        "tags": [
          "ops-activity-dream-partner-controller"
        ],
        "summary": "【人品贷-梦想合伙人】壳内是否点赞接口",
        "operationId": "innerHasSupportUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "dreamId",
            "in": "query",
            "description": "dreamId",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/dream/partner/innerSupport": {
      "get": {
        "tags": [
          "ops-activity-dream-partner-controller"
        ],
        "summary": "【人品贷-梦想合伙人】壳内点赞接口",
        "operationId": "innerSupportUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "dreamId",
            "in": "query",
            "description": "dreamId",
            "required": true,
            "type": "string"
          },
          {
            "name": "md",
            "in": "query",
            "description": "md",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/dream/partner/outerHasSupport": {
      "get": {
        "tags": [
          "ops-activity-dream-partner-controller"
        ],
        "summary": "【人品贷-梦想合伙人】壳外是否点赞接口",
        "operationId": "outerHasSupportUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "dreamId",
            "in": "query",
            "description": "dreamId",
            "required": true,
            "type": "string"
          },
          {
            "name": "unionId",
            "in": "query",
            "description": "unionId",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "token",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/dream/partner/outerSupport": {
      "get": {
        "tags": [
          "ops-activity-dream-partner-controller"
        ],
        "summary": "【人品贷-梦想合伙人】壳外点赞接口",
        "operationId": "outerSupportUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "dreamId",
            "in": "query",
            "description": "dreamId",
            "required": true,
            "type": "string"
          },
          {
            "name": "unionId",
            "in": "query",
            "description": "unionId",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "token",
            "required": true,
            "type": "string"
          },
          {
            "name": "md",
            "in": "query",
            "description": "md",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/dream/partner/submit": {
      "post": {
        "tags": [
          "ops-activity-dream-partner-controller"
        ],
        "summary": "【人品贷-梦想合伙人】提交及生成接口",
        "operationId": "submitUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "submitDTO",
            "description": "submitDTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/梦想合伙人 -报名DTO"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO"
            }
          },
          "401": {
            "description": "请求未通过认证.",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/fenqi/addCarousel": {
      "post": {
        "tags": [
          "ops-activity-fenqi-controller"
        ],
        "summary": "轮播插入3条假数据",
        "operationId": "addCarouselUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "code",
            "in": "query",
            "description": "code",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/fenqi/getActivityInfo": {
      "get": {
        "tags": [
          "ops-activity-fenqi-controller"
        ],
        "summary": "首页信息接口",
        "operationId": "getActivityInfoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO"
            }
          },
          "401": {
            "description": "请求未通过认证",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/fenqi/getSharedCode": {
      "get": {
        "tags": [
          "ops-activity-fenqi-controller"
        ],
        "summary": "获取分享code",
        "operationId": "getSharedCodeUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "productNo",
            "in": "query",
            "description": "productNo",
            "required": true,
            "type": "string"
          },
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO"
            }
          },
          "401": {
            "description": "请求未通过认证",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/fenqi/getSharedInfo": {
      "get": {
        "tags": [
          "ops-activity-fenqi-controller"
        ],
        "summary": "获取分享信息",
        "operationId": "getSharedInfoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "code",
            "required": true,
            "type": "string"
          },
          {
            "name": "openId",
            "in": "query",
            "description": "openId",
            "required": true,
            "type": "string"
          },
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO"
            }
          },
          "401": {
            "description": "请求未通过认证",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/fenqi/help": {
      "post": {
        "tags": [
          "ops-activity-fenqi-controller"
        ],
        "summary": "好友助力（接入medusa、siren）",
        "operationId": "helpUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "helpInfo",
            "description": "helpInfo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HelpInfo"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO"
            }
          },
          "401": {
            "description": "请求未通过认证",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/fenqi/myRecords": {
      "get": {
        "tags": [
          "ops-activity-fenqi-controller"
        ],
        "summary": "我的参与记录",
        "operationId": "myRecordsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "header",
            "description": "user id",
            "required": true,
            "type": "string",
            "default": "7166048"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultVO"
            }
          },
          "401": {
            "description": "请求未通过认证",
            "schema": {
              "$ref": "#/definitions/EnniuApiExceptionResponse"
            }
          }
        }
      }
    },
    "/ops-activity/api/v1/activity/fenqi/participate": {
      "post": {
        "tags": [
          "ops-activity-fenqi-controller"
        ],
        "summary": "用户参与活动",
        "operationId": "participateUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "productNo",
            "in": "query",
            "description": "productNo",
            "required": true,
            "type": "string"
          },
          {
            "name": "activityId",
            "in": "query",
            "description": "activityId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "user token",
            "required": true,
            "type": "string",
            "default": "encrypt 7zYyPCmZ/61IcLFhH/bSpdTib8qek5pOJ4vrij9D5exjBrdkU7H21g=="
          },
          {
            "name": "X-Tracking-ID",
            "in": "header",
            "description": "用于追踪请求的唯一id",
            "required": false,
[...]
